.App {
  font-family: sans-serif;
  text-align: center;
}

.input {
  padding: 10px;
  border: 1px solid grey;
  margin: 5px;
  font-size: 18px;
}

row {}
  border: 1px solid blue;
  padding: 5px;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

